.logo {
    color: lighten($bg-color, 30%);
    background-image: url('../assets/images/logo-osailing.svg');
    background-repeat: no-repeat;
    background-size: 100% 75%;
    padding-top: 65px;
    font-weight: 600;
}