.value {

    text-align: center;

    &__title {
        font-size: 0.7em;
        text-transform: uppercase;
    }

    &__content {
        color: darken($title-color, 35%);
        font-size: 1.8em;
        font-weight: 700;
        margin-top: 0.3em;
    }
}